* {
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
   outline: none;
}
a:focus {
   outline: 0;
   border: none;
   -moz-outline-style: none;
}
img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px white inset !important;
}
body {
   font-family: "Poppins", sans-serif;
   font-size: 1.35rem;
   line-height: 1.4;
   background-color: #fff;
   overflow-x: hidden;
   font-weight: 400;
}
::-webkit-scrollbar {
   width: 0.7rem;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
   background: rgba(233, 236, 239, 0.75);
   border-radius: 5px;
}
.App {
   position: relative;
   width: 100%;
   min-height: 100vh;
   overflow-x: hidden;
}
